#-------------------------------------------------------
# Folders and files that should not be pushed to GitHub
#-------------------------------------------------------

# Compiled bytecode
__pycache__/

# Virtual Python environment
venv/
.venv/

# Database - Comment this out to reset deployed DB
data.db

